.float-contact {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.sticky-icon-phone {
  font-size: 3rem;
  padding: 10px;
  color: var(--color-white);
  background: var(--color-bg-secondary);
  border-radius: 5px 0 0 5px;
  margin-bottom: 2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sticky-icon-whatsapp {
  font-size: 3rem;
  padding: 10px;
  color: var(--color-white);
  background: var(--color-bg-secondary);
  border-radius: 5px 0 0 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sticky-icon-phone:hover {
  background: var(--color-orange);
}
.sticky-icon-whatsapp:hover {
  background: var(--color-orange);
}
.hide {
  right: -100%;
  transition: all 0.5s ease-in-out;
}
.display {
  right: 0%;
  transition: all 0.5s ease-in-out;
}
/********************************** Media Queries (Medium devices) ***************************/

@media screen and (max-width: 1360px) {
  .sticky-icon-phone {
    font-size: 2.8rem;
  }
  .sticky-icon-whatsapp {
    font-size: 2.8rem;
  }
}

/********************************** Media Queries (Small devices) ***************************/

@media screen and (max-width: 600px) {
  .sticky-icon-phone {
    font-size: 2.5rem;
  }
  .sticky-icon-whatsapp {
    font-size: 2.5rem;
  }
}
